.container {
  &-details {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &-image {
    width: 30%;
  }
  &-description {
    width: 70%;
  }
  &-name {
    display: flex;
    align-items: center;
    color: white;
  }
  &-rating {
    padding-left: 15px;
    color: #606060;
    font-family: "Lato-Regular";
    font-size: 1.2rem;
  }
  &-duration {
    color: #f65261;
    font-size: 1.4rem;
    font-family: "Lato-Light";
    padding: 10px 20px;
  }
  &-description {
    padding: 15px 5px;
    color: #606060;
  }
}
