{
    "presets": [
        ["@babel/preset-env",
        {
            "targets": {
              "node": "10"
            }
          }],
        // "@babel/es2017",
        // "@babel/stage-3",
        "@babel/preset-react",
    ],
    // "plugins": [ "@babel/syntax-dynamic-import" ]
    // "plugins": [
    //     ["@babel/plugin-transform-runtime", {
    //       "polyfill": false,
    //       "regenerator": true
    //     }]
    //   ]
}